Repository kilip/homeplay, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/preflight, area/service, area/workstation

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/preflight:
  - changed-files:
      - any-glob-to-any-file: "preflight/**/*"
area/service:
  - changed-files:
      - any-glob-to-any-file: "service/**/*"
area/workstation:
  - changed-files:
      - any-glob-to-any-file: "service/**/*"

chore(ci): added docker prune task
  play-service.yml
Labels: none

chore(ci): improved release action
  .github/workflows/release.yaml
  .vscode/settings.json
  play-service.yml
Labels: area/github

feat(authentik): disable authentik :boom:
  inventory/group_vars/authentik.sops.yaml
Labels: none

chore(ci): fixed gh token :rocket:
  .github/workflows/release.yaml
Labels: area/github

chore(ci): enable renovate automerge
  .github/renovate.json
Labels: area/github

feat(pkrbt): added mars into pkrbt groups :rocket:
  inventory/hosts
Labels: none

chore(renovate): fixed auto merge config
  .github/renovate.json
Labels: area/github

feat(telport): disabled teleport
  inventory/group_vars/teleport.sops.yaml
  inventory/hosts
Labels: none

feat(ci): added upgrade playbook
  Taskfile.yaml
  inventory/group_vars/all.sops.yaml
  inventory/group_vars/teleport.sops.yaml
  inventory/hosts
  play-upgrade.yml
  roles/service/tasks/tools/teleport.yml
Labels: none

chore(service): removed unused apps
  .github/workflows/release.yaml
  .gitignore
  Taskfile.yaml
  inventory/group_vars/all.sops.yaml
  play-test.yml
  roles/service/tasks/tools/teleport.yml
Labels: area/github

fix(service): fixed teleport install step
  roles/service/tasks/tools/teleport.yml
Labels: none

feat(service): added newrelic install
  Taskfile.yaml
  inventory/group_vars/all.sops.yaml
  inventory/group_vars/newrelic.sops.yaml
  inventory/hosts
  play-deploy.yml
  play-reboot.yml
  play-service.yml
  roles/requirements.yml
  roles/service/tasks/monitoring/main.yml
  roles/service/tasks/monitoring/newrelic.yml
Labels: none

chore(docs): improved documentation
  README.md
Labels: area/docs

fix(workstation): fixed regolith install tasks
  inventory/hosts
  roles/workstation/tasks/regolith.yml
Labels: none

fix(workstation): fixed regolith apt source filename
  roles/workstation/tasks/regolith.yml
Labels: none

fix(workstation): removed broken spotify install
  inventory/host_vars/zeus.sops.yaml
Labels: none

feat(ci): improved renovate configuration
  .github/renovate.json
Labels: area/github

feat(pihole): upgraded pihole to 2025.07.1 version
  inventory/hosts
  roles/service/defaults/main.yml
Labels: none

feat(semaphore): added cronjob to weekly upgrade semaphore
  Taskfile.yaml
  ansible.cfg
  roles/service/tasks/tools/main.yml
  roles/service/tasks/tools/semaphore.cron.yml
Labels: none

fix(ci): fixed renovate config
  .github/renovate.json
Labels: area/github

fix(ci): fixed renovate automerge schedule
  .github/renovate.json
Labels: area/github

fix(ci): fixed renovate automerge schedule
  .github/renovate.json
Labels: area/github

fix(ci): fixed renovate automerge schedule
  .github/renovate.json
Labels: area/github

fix(ci): fixed renovate automerge schedule
  .github/renovate.json
Labels: area/github

fix(ci): fixed renovate automerge schedule
  .github/renovate.json
Labels: area/github

fix(ci): fixed renovate automerge schedule
  .github/renovate.json
Labels: area/github

fix(ci): fixed renovate automerge schedule
  .github/renovate.json
Labels: area/github

fix(ci): fixed renovate automerge schedule
  .github/renovate.json
Labels: area/github

feat(mysql): added mysql server
  inventory/group_vars/all.sops.yaml
  inventory/group_vars/mysql.sops.yaml
  inventory/group_vars/newrelic.sops.yaml
  inventory/hosts
  requirements.txt
  roles/service/defaults/main.yml
  roles/service/handlers/main.yml
  roles/service/tasks/core/main.yml
  roles/service/tasks/core/newrelic.yml
  roles/service/tasks/main.yml
  roles/service/tasks/monitoring/main.yml
  roles/service/tasks/storage/main.yml
  roles/service/tasks/storage/mysql.yml
  roles/service/tasks/storage/postgres.yml
  roles/service/templates/mysql-infra.yml.j2
  roles/service/templates/mysql-log.yml.j2
  roles/service/templates/mysql.cnf.j2
  roles/service/vars/mysql.yml
Labels: none

fix: fixed new relic version
  roles/service/vars/newrelic.yml
Labels: none
